#header{
        font-style:bold;
        font-size: 16;
        text-align: center;
        font-family: Times New Roman, Arial, sans-serif;
        }        

i   {
        font-style:italics
    }   

#hyperlinks{
        color: black;
        text-align: center;
        }

#content{
        font-family: Times New Roman;
        font-size: 10;
        font-style: bold;
        }
#form {
        font-family: Times New Roman;
        font-size: 10;
        font-style: bold;
        }